/*# sourceMappingURL=style.css.map */
.nav-menu
	background-color transparent
.navbar-brand
	color white !important
.navbar-nav > li > a
	color white !important
/*header*/
header img
  position relative
  width 100%
  min-height auto
  -webkit-background-size cover
  -moz-background-size cover
  background-size cover
  -o-background-size cover
  background-position center
  background-image url('../images/fondo2.jpg')
  text-align center
  color white
